@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?dc9d5q');
    src:  url('../fonts/icomoon.eot?dc9d5q#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?dc9d5q') format('truetype'),
      url('../fonts/icomoon.woff?dc9d5q') format('woff'),
      url('../fonts/icomoon.svg?dc9d5q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body{
    background-color:rgb(145, 197, 247);
    
    font-family: "Segoe UI";
}

header article .encabezado{
    display: flex;
    width: 85%;
    margin: auto;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    border: 0.5px solid #000;
    box-shadow: 2px 2px 10px #666;
}

header article .encabezado img{
   width: 70px;
   height: 70px;
   padding: 10px 10px 10px 10px;
   border-radius: 20px 20px 20px 20px;
   filter: drop-shadow(5px 5px 10px #444);
}
header article .encabezado .botones .espacio{
    margin-left: 20px;
}
header article .encabezado .botones {
    display: flex;
    font-size: 22px;
    font-family: "Segoe UI";
    padding-top: 30px;
    padding-left: 780px;
    margin-right: 50px;
    
}

header article .encabezado .botones .btnlogin a{
    border: 0.5px solid #9fd5d1;
    padding: 1px 15px 1px 15px;
    text-decoration: none;
    background-color: #9fd5d1;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #666;
}

header article .encabezado .botones .btnregister a{
    border: 0.5px solid #9fd5d1;
    padding: 1px 10px 1px 10px;
    text-decoration: none;
    background-color: #9fd5d1;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #666;
}

section .container{
    margin-top: 25px;
    margin-bottom: 25px;

    
}

section .information{
    margin-bottom: 25px;
    
}

section article .slider{
    
    width: 85%;
    margin: auto;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    border: 0.5px solid #000;
    overflow: hidden;
    box-shadow: 2px 2px 10px #666;

}

section article .slider ul{
    display: flex;
    padding: 9;
    width: 400%;
    animation: cambio 20s infinite;
}

section article .slider li{
    width: 95%;
    list-style: none;
}

section article .slider img{
    width: 95%;
    height: 400px;
    position: relative;
}

section article .informacion {
    width: 85%;
    margin: auto;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    border: 0.5px solid #000;
    box-shadow: 2px 2px 10px #666;
    padding: 5px 5px 5px 5px;
    text-align: center;
    
}
section article .informacion h1{
    font-family: "Segoe UI";
    font-size: 24px;
}
section article .informacion p{
    font-family:"Segoe UI";
    font-size: 18px;
    text-align: center;
}

footer .pie {
    font-family:"Segoe UI";
    display: flex;
    width: 85%;
    margin: auto;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    border: 0.5px solid #000;
    padding: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px #666;
    
}
footer .pie .iconos{
    float: left;
    margin-left: 20px;
   
}
footer .pie .iconos .icon-phone::before{
    font-family: 'icomoon';
    content: "\e900";

}
footer .pie .iconos .icon-location2::before{
    font-family: 'icomoon';
    content: "\e904";
}
footer .pie .iconos .icon-cop::before{
    font-family: 'icomoon';
    content: "\e9c9";
}

footer .pie .redes{
    
    padding: 20px 20px 20px 20px; 
    margin-right: 420px;
    display: flex;
   
}
footer .pie .redes .icon-facebook::before{
    padding-left: 400px;
    font-family: 'icomoon';
    content: "\e902";  
}
footer .pie .redes .icon-youtube::before{
    font-family: 'icomoon';
    content: "\e903";  
    padding: 5px 5px 5px 5px;
}
footer .pie .redes .icon-mail4::before{
    font-family: 'icomoon';
    content: "\e901";
  
}

@keyframes cambio {
    0%{ margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left:-100%}
    45%{margin-left: -100%;}

    50%{margin-left:-200%}
    70%{margin-left: -200%;}

    75%{margin-left:-300%}
    100%{margin-left: -300%;}
}